* {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;

    box-sizing: border-box;
    overflow: hidden;
}

.navbar {

    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
}

nav {
    flex: 1;
    text-align: left;
}

.navbar-cont {

    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.astyle {

    text-decoration: none;
    color: black;
    /* font-size: 14px; */
}

.navbar-left {

    padding-top: 21px;
    width: 50%;
    padding-left: 9rem;
}

.navbar-right {
    /* margin-left: 30px; */
    text-align: right;
    width: 92%;
    margin-top: -22px;
    /* position: fixed; */
}

.navbar-cont {

    font-size: 17px;
}

.appname {

    font-size: 28px;
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

/*=====================================dropdown===================================*/

.dropbtn {


    cursor: pointer;
    height: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}


.dropdown-content label:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}

.radio-but {
    display: flex;
    flex-direction: row;
    padding: 4px;
    padding-left: 13px;
}


/*=================================homesection===========================================*/

.home {

    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home-1 {

    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 4%;
}

.home-I {
    flex-direction: row;
}

.home-2 {
    /* background-color: #F8F8F8; */
    /* flex-direction: row; */
    padding-left: 3%;
}

.home-3 {
    background-color: #F8F8F8;
    width: 64%;
    padding-left: 9%;
    padding-top: 10%;
}

.home-3-sub1 {
    font-size: 4rem;
    font-weight: 900;
    width: 77%;
}

.home-3-sub2 {
    font-size: 1.5rem;
    padding-top: 2%;
}

.home-3-sub3 {
    font-size: 20px;
    padding-top: 2%;
}

.but1 {
    background-color: #0066FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .5rem;
}

/*=====================================section 2=================================*/


.section-2 {

    background-color: #F8F4EF;
    display: flex;
    flex-direction: column;

}

.card-up {
    margin-top: 5%;
    flex-direction: column;
    /* background-color: aqua; */
    padding-left: 13%;

}

.card-up-1 {

    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 0.5rem;

}

.card-up-2 {

    font-size: 1.4rem;
}

.cards {
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
    padding-left: 2rem;
    padding-right: 3rem;
    margin-top: 3%;
}

.card1 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* padding: -2rem; */
    padding-right: 0rem;
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 13rem;
    width: 17%;
    height: 17%;
}

.card2 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* padding: -2rem; */
    padding-right: 0rem;
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 2rem;
    width: 17%;
    height: 17%;
}

.card3 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* padding: -2rem; */
    padding-right: 0rem;
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 2rem;
    width: 17%;
    height: 17%;
}

.card4 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* padding: -2rem; */
    padding-right: 0rem;
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 2rem;
    width: 17%;
    height: 17%;
}

.card-wrap {
    /* padding: 2%; */
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-top: 2%;
    width: 100%;
}

.card-bottom {

    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.card-bottom-sub {
    display: flex;
    flex-direction: column;
    padding-left: 13%;
}

.card-bottom-head {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 109%;
}




.img4 {
    padding-left: 20%;
    /* padding-right: 22%; */
    padding-bottom: 0%;
}

.img5 {
    padding-left: 20%;
    /* padding-right: 22%; */
    padding-bottom: 0%;
}

.img6 {
    padding-left: 20%;
    /* padding-right: 22%; */
    padding-bottom: 0%;
}

.img7 {
    padding-left: 20%;
    /* padding-right: 22%; */
    padding-bottom: 0%;
}

.img8 {

    display: flex;
    padding-left: 20%;
}

/* .card-sub1 {
    width: 77%;
    padding-left: 14%;

    padding-top: 8%;
} */
.card-sub1 {
    width: 97%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-sub2 {
    width: 97%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-sub3 {
    width: 97%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-sub4 {
    width: 97%;
    padding-left: 0%;
    padding-top: 9%;
}

.but2 {
    background-color: #0066FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3%;
    border-radius: 0.5rem;
}




.manage-section {
    display: flex;
    flex-direction: row;
    margin-top: 4%;

}

.manage-section1 {
    display: flex;
    flex-direction: column;
    /* background-color: #0066FF; */
    width: 50%;
    padding-left: 13%;
}

.manage-section2 {
    /* padding-left: 68%; */
    display: flex;
    /* align-items: flex-end;*/
    width: 58%;
}

.mng-para {
    width: 86%;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #7E8085;
}
.mng-head{
    font-size: 1.3rem;
    color: #7E8085;
    font-weight: 800;
}

.mng-head1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 85%;

}

.subscribeInput {
    /* padding-bottom: .5rem; */
    border-bottom: 1px solid  #0066FF ;
    width: 21%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 600;

    padding-bottom: 0.5rem;

}

.subscribeInput>input {
    border: none;
    outline: none;
    padding: .5rem;
    width: 20rem;
}

.subscribeInput>img {
    width: 0.8rem;
    padding-left: 0.5rem;
}








.section-2I {

    background-color: #F8F4EF;
    display: flex;
    flex-direction: column;

}

.card-w {
    display: flex;
    padding-left: 9em;
    padding-right: -3em;
}

.card-upI {
    margin-top: 5%;
    flex-direction: column;
    /* background-color: aqua; */
    /* padding-left: 37%; */
    display: flex;
    /* align-items: center; */
    width: 32em;
    /* width: 20%; */
}

.card-up-1I {
    width: 100%;
    padding-left: 13em;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 0.5rem;

}

.card-up-2I {
    font-size: 1.3rem;
    color: #7E8085;
    font-weight: 930;
    line-height: 2em;
    width: 32em;
    padding-left: 27em;
}

.cardsI {
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
    padding-left: 2rem;
    padding-right: 3rem;
    margin-top: 3%;
    margin-bottom: -22rem;
}

.card1I {
    background-color: #FFFFFF;
    color: #7E8085;
    display: flex;
    font-size: 1.2em;
    line-height: 1.7em;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 2rem;
    /* padding-top: 2rem; */
    padding-bottom: 27rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 5rem;
    width: 26%;
    height: 17%;
}

.card2I {
    background-color: #FFFFFF;
    color: #7E8085;
    display: flex;
    font-size: 1.2em;
    line-height: 1.7em;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 2rem;
    /* padding-top: 2rem; */
    padding-bottom: 27rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 2rem;
    width: 26%;
    height: 17%;
}

.card3I {
    background-color: #FFFFFF;
    color: #7E8085;
    display: flex;
    font-size: 1.2em;
    line-height: 1.7em;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 2rem;
    /* padding-top: 2rem; */
    padding-bottom: 27rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border-color: black;
    margin-left: 2rem;
    width: 26%;
    height: 17%;
}



.card-wrapI {
    /* padding: 2%; */
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-top: 2%;
    width: 100%;
}

.card-bottomI {

    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.card-bottom-subI {
    display: flex;
    flex-direction: column;
    padding-left: 13%;
}

.card-bottom-headI {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 109%;
}




.card-sub1I {
    width: 89%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-sub2I {
    width: 90%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-sub3I {
    width: 94%;
    padding-left: 0%;
    padding-top: 9%;
}

.card-bot1 {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    color: black;
    font-weight: 800;
}

.card-bot3 {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    color: black;
    font-weight: 800;
}

.card-bot2 {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
    color: black;
    font-weight: 800;
}

.link1 {
    display: flex;
    text-align: center;
    /* align-content: unset; */
    padding-left: 49rem;
    /* padding-bottom: 31em; */
}

.link1 a {
    font-size: 1.2em;
    font-weight: 800;
}

.images {
    display: flex;
    flex-direction: row;
    padding-left: 18em;
    padding-top: 7em;
    padding-bottom: 8rem;
}

.ob {
    padding-left: 6em;

}

.faq {
    background-color: white;
    padding-left: 18rem;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.faq-head {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.Input1 {
    /* padding-bottom: 0.5rem; */
    border-bottom: 1px solid #E7E7E7;
    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-weight: 540;
    position: relative;
}

.Input1 img {
    height: .5rem;
    position: absolute;
    right: 0px;
}

.but-1 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #0066FF;
    border: 2px solid #0066FF;
    width: 19rem;
}

.but-fa{
    padding-left: 18rem;
    background-color: white;
    padding-bottom: 8rem;
}

.footer1{

    background-color: #273343;
    padding-left: 18rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    color: grey;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.footerr{
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
}
.footersub{
    display: flex;
    flex-direction: column;
}
.footersubs{
    padding-top: 2rem;
}
.footer1sub{
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
}
.footer1subb{
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-top: 4rem;
}
.footersubhead {
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
}
.footer1sub-2{
    display: flex;
    flex-direction: row;
}
.footer1sub-images{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}
.footer1sub-images img{
    padding-right: 2rem;
    
}

.but3 {
    background-color: #0066FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .5rem;
    width: 19rem;
}


.footer2 {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: grey;
    padding-left: 17rem;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer2sub{

    position: absolute;
    right: 185px;
}